{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}
    <h1>DtDict creation</h1>
    <div class="row">
        {#ATTENTION : L'ENTETE SE FERME TOUT LE TEMPS LORSQUE LE BLOCK DIV DANS LEQUEL ELLE SE SITUE SE FERME #}
        {{ form_start(edit_form) }}

            <div class="col-lg-6" id="partie-dt">
                {# Partie de la DT #}
                <h2>    
                    Partie de la DT
                </h2>
                
                 <span class="information-base">
                    {{ form_row(edit_form.dt.serviceExploitant) }}
                    {{ form_row(edit_form.dt.numeroTeleservice) }}
                    {{ form_row(edit_form.dt.numeroAffaireDeclarant) }}

                    {{ form_row(edit_form.dt.dateDebutTravaux) }}
                    {{ form_row(edit_form.dt.duree) }}
                    {{ form_row(edit_form.dt.canalReception) }}
                    {{ form_row(edit_form.dt.descriptionTravaux) }}
                    {{ form_row(edit_form.dt.noteComplementaire) }}
                    {{ form_row(edit_form.dt.dateReceptionDemande) }}
                    {{ form_row(edit_form.dt.dateReponseDemande) }}
                    {{ form_row(edit_form.dt.maitreOuvrage) }}
                 </span>

                    <a href="#" id="ajouter-adresse">Ajouter une nouvelle adresse à ce travaux</a>
                    <ul id="adresse-fields-list" data-prototype="{{ form_widget(edit_form.dt.adresses.vars.prototype) | e('html') }}">
                        {% for adresseChamp in edit_form.dt.adresses %}
                            <li>
                                {{ form_row(adresseChamp.autocomplete) }}
                                {{ form_row(adresseChamp.numeroRue) }}
                                {{ form_row(adresseChamp.adresse) }}
                                {{ form_row(adresseChamp.complementAdresse) }}
                                {{ form_row(adresseChamp.lieuDit) }}
                                {{ form_row(adresseChamp.ville) }}
                                {{ form_row(adresseChamp.cp) }}      
                                {{ form_row(adresseChamp.pays) }}                           
                                
                       
                            {#Evènement qui ajoute un boutton delete uniquement les autre champs que le premier #}
                            {% if adresseChamp.delete is defined %}
                                {{ form_row(adresseChamp.delete) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                     <a href="#" id="ajouter-contact-urgent">Ajouter un contact urgent</a>
                    <ul id="contact-urgent-fields-list" data-prototype="{{ form_widget(edit_form.dt.contactsUrgent.vars.prototype) | e('html') }}">
                        {% for contactUrgentChamp in edit_form.dt.contactsUrgent %}
                            <li class="dt-existant">
                                {{ form_row(contactUrgentChamp.civilite) }}
                                {{ form_row(contactUrgentChamp.nom) }}
                                {{ form_row(contactUrgentChamp.prenom) }}
                                {{ form_row(contactUrgentChamp.telMobile) }}
                                {{ form_row(contactUrgentChamp.telFixe) }}
                                {{ form_row(contactUrgentChamp.email) }}
                                {{ form_row(contactUrgentChamp.delete)  }}
                           </li>
                        {% endfor %}
                    </ul>
            </div>                
            <div class="col-lg-6" id="partie-dict">
                {#Partie de la DICT #}
                <h2>    
                    Partie de la DICT
                </h2>
                <span class="information-base">
                    <a href="#" id="recuperer-info-dt" class="btn btn-success">Récupérer information de la DT</a>
                    {{ form_row(edit_form.serviceExploitant) }}
                    {{ form_row(edit_form.numeroTeleservice) }}
                    {{ form_row(edit_form.numeroAffaireDeclarant) }}

                    {{ form_row(edit_form.dateDebutTravaux) }}
                    {{ form_row(edit_form.duree) }}
                    {{ form_row(edit_form.canalReception) }}
                    {{ form_row(edit_form.descriptionTravaux) }}
                    {{ form_row(edit_form.noteComplementaire) }}
                    {{ form_row(edit_form.dateReceptionDemande) }}
                    {{ form_row(edit_form.dateReponseDemande) }}
                    {{ form_row(edit_form.maitreOeuvre) }}
                </span>

                <a href="#" id="ajouter-adresse">Ajouter une nouvelle adresse à ce travaux</a>
                <ul id="adresse-fields-list" data-prototype="{{ form_widget(edit_form.adresses.vars.prototype) | e('html') }}">
                    {% for adresseChamp in edit_form.adresses %}
                        <li class="dict-existant">
                               {{ form_row(adresseChamp.autocomplete) }}
                               {{ form_row(adresseChamp.numeroRue) }}
                               {{ form_row(adresseChamp.adresse) }}
                               {{ form_row(adresseChamp.complementAdresse) }}
                               {{ form_row(adresseChamp.lieuDit) }}
                               {{ form_row(adresseChamp.ville) }}
                               {{ form_row(adresseChamp.cp) }}
                               {{ form_row(adresseChamp.pays) }}
                               
                               
                            {#Evènement qui ajoute un boutton delete uniquement les autre champs que le premier #}
                            {% if adresseChamp.delete is defined %}
                                {{ form_row(adresseChamp.delete) }}
                            {% endif %}
                       </li>
                    {% endfor %}
                </ul>
                 <a href="#" id="ajouter-contact-urgent">Ajouter un contact urgent</a>
                <ul id="contact-urgent-fields-list" data-prototype="{{ form_widget(edit_form.contactsUrgent.vars.prototype) | e('html') }}">
                    {% for contactUrgentChamp in edit_form.contactsUrgent %}
                        <li>
                            {{ form_row(contactUrgentChamp.civilite) }}
                            {{ form_row(contactUrgentChamp.nom) }}
                            {{ form_row(contactUrgentChamp.prenom) }}
                            {{ form_row(contactUrgentChamp.telMobile) }}
                            {{ form_row(contactUrgentChamp.telFixe) }}
                            {{ form_row(contactUrgentChamp.email) }}
                            {{ form_row(contactUrgentChamp.delete)  }}
                       </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-12">
                {{ form_rest(edit_form) }}
            {{ form_end(edit_form) }}
            </div>
        
        
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('dtdict') }}">
                Back to the list
            </a>
        </li>    
    </ul>
{% endblock %}
