{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}

<div class="row">
    
    <div class="col-lg-6 table-responsive">
        <hr/>
        <caption>
            <h4>           
                Liste des DT - DICT conjointe
             <br>
             </h4>
            </caption>
            <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Id dt</th>
                    <th>Id dict</th>
                    <th>Numero téléservice dt</th>
                    <th>Numero téléservice dict</th>
                    <th>Ville dt</th>
                    <th>Ville dict</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('dtdict_show', { id: entity.id}) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.dt.numeroTeleservice }}</td>
                    <td>{{ entity.numeroTeleservice }} </td>
                    {# On vérifie qu'il est une adresse sur chacun des deux éléments #}
                    <td>{{ entity.dt.adresses|length > 0 ? entity.dt.adresses[0].ville : "-" }}</td>
                    <td>{{ entity.adresses|length > 0 ? entity.adresses[0].ville : "-" }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('dtdict_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('dtdict_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
    {% endblock %}
