{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

{# entity = dict #}

 {% block travaux_content %}
<div class="row">  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>
            DT - DICT conjointe
        </h1>

        <!-- Tableau de la DT -->
        <div class="col-lg-6 table-responsive">
            <caption>
                <h4>        
                   Partie DT
                     <br>
                </h4>
            </caption>
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.dt.id }}</td>
                    </tr>
                    <tr>
                        <th>Date reception de la demande</th>
                        <td>{{ entity.dt.dateReceptionDemande|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Canal reception</th>
                        <td>{{ entity.dt.canalReception.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Maitre ouvrage</th>
                        <td>{{ entity.dt.maitreOuvrage }}</td>
                    </tr>
                    <tr>
                        <th>Numéro téléservice</th>
                        <td>{{ entity.dt.numeroTeleservice }}</td>
                    </tr>
                    <tr>
                        <th>Description des travaux</th>
                        <td>{{ entity.dt.descriptionTravaux }}</td>
                    </tr>
                    <tr>
                        <th>Note complémentaire</th>
                        <td>{{ entity.dt.noteComplementaire }}</td>
                    </tr>
                    <tr>
                        <th>Date de début des travaux</th>
                        <td>{{ entity.dt.dateDebutTravaux|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Durée</th>
                        <td>{{ entity.dt.duree }} jour(s).</td>
                    </tr>
                    
                </tbody>
            </table>

            <caption>
                <h4>        
                   Adresse de la DT
                     <br>
                </h4>
            </caption>
             <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <td>
                            Rue
                        </td>
                        <td>
                            Adresse
                        </td>
                        <td>
                            Complément adresse
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for adresse in entity.dt.adresses %}
                        <tr>
                            <td>{{ adresse.numeroRue }}</td>
                            <td>{{ adresse.adresse }}</td>
                            <td>{{ adresse.complementAdresse }}</td>
                        </tr>
                    {% else %}
                        - Aucune adresse -
                    {% endfor %}
                </tbody>
            </table>
        </div>

          <!-- Tableau de la DICT -->
        <div class="col-lg-6 table-responsive">
            <caption>
                <h4>        
                    Partie DICT 
                     <br>
                </h4>
            </caption>
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                   <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Date reception de la demande</th>
                        <td>{{ entity.dateReceptionDemande|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Canal reception</th>
                        <td>{{ entity.canalReception.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Maitre oeuvre</th>
                        <td>{{ entity.maitreOeuvre }}</td>
                    </tr>
                    <tr>
                        <th>Numéro téléservice</th>
                        <td>{{ entity.numeroTeleservice }}</td>
                    </tr>
                    <tr>
                        <th>Description des travaux</th>
                        <td>{{ entity.descriptionTravaux }}</td>
                    </tr>
                    <tr>
                        <th>Note complémentaire</th>
                        <td>{{ entity.noteComplementaire }}</td>
                    </tr>
                    <tr>
                        <th>Date de début des travaux</th>
                        <td>{{ entity.dateDebutTravaux|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Durée</th>
                        <td>{{ entity.duree }} jour(s).</td>
                    </tr>
                </tbody>
            </table>


            <caption>
                <h4>        
                   Adresse de la DICT
                     <br>
                </h4>
            </caption>
             <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <td>
                            Rue
                        </td>
                        <td>
                            Adresse
                        </td>
                        <td>
                            Complément adresse
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for adresse in entity.adresses %}
                        <tr>
                            <td>{{ adresse.numeroRue }}</td>
                            <td>{{ adresse.adresse }}</td>
                            <td>{{ adresse.complementAdresse }}</td>
                        </tr>
                    {% else %}
                        - Aucune adresse -
                    {% endfor %}
                </tbody>
            </table>
        </div>

        </div>        
    </div> {# Fin cols 12 #}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
            <ul class="record_actions">
                <li>
                    <a class="btn btn-success" href="{{ path('dtdict') }}">
                       <span class="glyphicon glyphicon-fast-backward"></span> Retour à la liste des DT -DICT
                    </a>
                </li>
                <li>
                    <a class="btn btn-success" href="{{ path('dtdict_edit', { 'id': entity.id }) }}">
                       <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>    
        </div>    
    </div>
</div>{#  Fin row #}

{% endblock %}
