{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Recepisse:layout.html.twig' %}
{% block main_content %}


    {% block recepisse_content -%}
	    <h1>RecepisseDICT creation</h1>

        {{ form_start(form) }}
	    	<div id="info-recepisse-creation" class="row">
	    		<div class="col-lg-3">
					Entity de création: {{ entity.dateCreation|date('Y-m-d H:i:s') }}
	    		</div>
	    		<div class="col-lg-3">
					Numéro de téléservice de création: {{ dict.numeroTeleservice }}				
	    		</div>
	    		<div class="col-lg-3 form-group">
	    			{{ form_row(form.chantierSensible) }}
	    		</div>
	    	</div>

			<div class="row">
				<div class="col-lg-8">
			    	{#Zone de gestion de la polycollection #}
					{% block polycollection_row %}
						<div  id="bloc-reponse" class="row">
								<h4>
									Votre réponse au déclarant
								</h4>
								<select id="proto-reponse">

						 			{% for type, line in form.reponse.vars.prototypes %}
						 				<option data-prototype="{{ form_row(line) | escape }}">{{ type }}</option>
									{% endfor %}

								</select>
						</div>
						<div  id="bloc-element-reponse" class="row">
								<h4>
									Elément généraux de réponse
								</h4>
								 <ul class="list-unstyled" id="reponse">
					                {{ form_label(form.reponse) }}
					                {{ form_widget(form.reponse) }}
					            </ul>
			         	</div>
					{% endblock polycollection_row %}

						<div id="extension-reseau-ouvrage" class="row">
								<h4>
									Modification ou extension de nos réseaux ouvrages!
								</h4>
								{{ form_row(form.extensionPrevue) }}
								{{ form_row(form.modificationEnCours) }}
								{{ form_row(form.nomRepresentant) }}
								{{ form_row(form.telephoneRepresentant) }}
						</div>
						<div id="extension-reseau-ouvrage" class="row">
								<h4>
									Emplacement de nos réseaux ouvrages!
								</h4>
								{{ form_row(form.planJoint) }}
								{{ form_row(form.prendreEnCompteServitude) }}
								{{ form_row(form.branchementRattache) }}
						</div>

				</div><!--fin colonne de gauche qui prend 8 colonne-->
			</div><!-- fin de la row -->
			<div class="row">
				<div id="recommandations-securite" class="col-lg-12">
					<h4>
						Recommandations de sécurité
					</h4>
				</div>
			</div>
            {{ form_rest(form) }}
        {{ form_end(form) }}

		        <ul class="record_actions">
		    <li>
		        <a href="{{ path('recepissedict') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>
	{% endblock recepisse_content %}
{% endblock %}
