{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Recepisse:layout.html.twig' %}
{% block main_content %}


{% block recepisse_content -%}
<h1>RecepisseDICT creation</h1>

{{ form_start(form) }}
<div id="info-recepisse-creation" class="row">
	<div class="col-lg-3">
		Entity de création: {{ entity.dateCreation|date('d-m-Y H:i:s') }}
	</div>
	<div class="col-lg-3">
		Numéro de téléservice de création: {{ dict.numeroTeleservice }}				
	</div>
	<div class="col-lg-3 form-group">
		{{ form_row(form.chantierSensible) }}
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		{#Zone de gestion de la polycollection #}
		{% block polycollection_row %}
			<div id="bloc-reponse" class="row">
				<div class="col-lg-12">
					<h4>
						Votre réponse au déclarant
					</h4>
					<select id="proto-reponse">
						{# Liste les différente forme de réponse#}
						{% for type, line in form.reponse.vars.prototypes %}
							<option data-prototype="{{ form_row(line) | escape }}">{{ type }}</option>
						{% endfor %}
					

					</select>
				</div>
			</div>
			<div  id="bloc-element-reponse" class="row">
				<div class="col-lg-12">
					<h4>
						Elément généraux de réponse
					</h4>
					<ul class="list-unstyled" id="reponse">
						{{ form_label(form.reponse) }}
						{{ form_widget(form.reponse) }}
					</ul>
				</div>
			</div>
		{% endblock polycollection_row %}

		<div id="extension-reseau-ouvrage" class="row">
			<div class="col-lg-12">
				<h4>
					Modification ou extension de nos réseaux ouvrages!
				</h4>
				{{ form_row(form.extensionPrevue) }}
				{{ form_row(form.modificationEnCours) }}
				{{ form_row(form.nomRepresentant) }}
				{{ form_row(form.telephoneRepresentant) }}
			</div>
		</div>						
	</div><!--fin colonne de gauche qui prend 8 colonne-->
	<div class="col-lg-4">
		<h4>
			Information sur le chantier.
		</h4>
		{# reçu le...par canal, déclarant, numéro d'affaire du déclarant
		- emplacement du chantier : numéro de voir, commune, adresse
		- Calendrier: date de début, durée, date de fin  #}
		<div class="col-lg-offset-2 col-lg-10">			
			<p>
				Reçu le : {{ dict.dateReceptionDemande|date('d-m-Y H:i:s') }} par {{ dict.canalReception.libelle }}
				<br/>
				{# Les __toString() personnalise l'affichage #}
				Déclarant : {{ dict.dt != null ? dict.dt.maitreOuvrage : dict.maitreOeuvre }}
				<br/>
				Numéro d'affaire du déclarant : {{ dict.numeroAffaireDeclarant }}
			</p>
		</div>

		{# Affichage des informations sur l'emplacement de la demande #}
		<div class="col-lg-offset-1 col-lg-11">	
			<h6>
				Emplacement du chantier:
			</h6>	
			<div class="col-lg-offset-1 col-lg-11">
				<p>
					Numéro de voie :  {{ dict.adresses[0].numeroRue }} 
					<br/>
					Commune : {{ dict.adresses[0].ville }} 
					<br/>
					Adresse : {{ dict.adresses[0].adresse }} 
				</p>
			</div>

		</div>

		{# Affichage des informations sur le calendrié de la demande #}
		<div class="col-lg-offset-1 col-lg-11">	
			<h6>
				Calendrié :
			</h6>	
			<div class="col-lg-offset-1 col-lg-11">
				<p>
					Date de début :  {{ dict.dateDebutTravaux|date('d-m-Y H:i:s') }} 
					<br/>
					Durée : {{ dict.duree }} {{ dict.duree > 1 ? "jours" : "jour" }} 
					<br/>
					Date de fin : {{ dict.adresses[0].adresse }} 
				</p>
			</div>


		</div>

		{# Affichage des informations sur les travaux de la demande #}
		<div class="col-lg-offset-1 col-lg-11">	
			<h6>
				Description des travaux :
			</h6>	
			<div class="col-lg-offset-1 col-lg-11">
				<p>
					{{ dict.descriptionTravaux }} 				
				</p>
			</div>


		</div>
	</div>
</div><!-- fin de la row -->

<!-- Zone de gestion des ouvrages -->
<div class="row">
	<div id="extension-reseau-ouvrage" class="col-lg-12">
		<h4>
			Emplacement de nos réseaux ouvrages!
		</h4>

		{# Ensemble des champs des emplacements du réseau #}
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">

				{{ form_row(form.planJoint) }}
				{# {{ dump (form.emplacementsReseauOuvrage)}} #}

				{# Ligne contenant le tableau d'informations sur les REO #}
				<section class="table-responsive">
					<hr/>
					<table class="table table-bordered table-striped table-condensed" id="list-emplacement-reseau-ouvrage" data-prototype="{{ form_widget(form.emplacementsReseauOuvrage.vars.prototype) | e('html') }}">
						<thead>
							<tr>
								<td>
									Reference
								</td>
								<td>
									Echelle
								</td>
								<td>
									Date édition
								</td>
								<td>
									Sensible
								</td>
								<td>
									Profondeur mini
								</td>
								<td>
									Matériaux chantier
								</td>
							</tr>
						</thead>
						{# L'insertion du contenu du tableau est éalisé en JS dans #}
						<tbody>
							{% for champsEmplacementReseauOuvrage in form.emplacementsReseauOuvrage %}
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.reference) }}
									</td>
								</tr>
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.echelle) }}
									</td>
								</tr>
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.dateEdition) }}
									</td>
								</tr>
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.sensible) }}
									</td>
								</tr>
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.profondeurReglMini) }}
									</td>
								</tr>
								<tr>
									<td>
										{{ form_row(champsEmplacementReseauOuvrage.materiauxReseau) }}
									</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
				</section>
				{#Case à cocher de la prise de rendez vous#}
				<div  id="bloc-rendez-vous">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						
						{{ form_row(form.priseRendezVous)}}	
					</div>
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
						<select id="proto-rendez-vous">
							
						{# Liste les différentes forme de réponse. Cette forme ne convient pas, il récupère simplement les prototype de chacun, à mettre en forme 
						en jQuery #}
							{% for type, line in form.rendezVous.vars.prototypes %}
								<option data-prototype="{{ form_row(line) | escape }}">{{ type }}</option>
							{% endfor %}
						

						</select>
						
					</div>
					<div class="col-offset-lg-3 col-lg-7" id="rendez-vous">		
						{# Affichage des informations sur le rendez-vous si un existe déjà, ce qui est le cas lors de la MAJ #}
						{{ form_widget(form.rendezVous) }}
						
					</div>
				</div>

				{#Deux dernière case de la section Emplacement de nos réseaux ouvrages!#}
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					{{ form_row(form.prendreEnCompteServitude) }}
					
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					{{ form_row(form.branchementRattache) }}	
					
				</div>	
			</div>
		</div>
	</div><!--fin Emplacement Reseaux-->

	{# Partie sur les recommandation de sécrutité #}
	<div id="recommandations-securite" class="col-lg-12">
		<h4>
			Recommandations de sécurité
		</h4>
		{{ form_row(form.recommandationSecurite) }}
		{# Je sors du template bootstrap mes block afin de pouvoir les mettre inline#}
		<div class="form-group">
			{{ form_errors(form.rubriqueGuideTechSecurite) }}
			{{ form_label(form.rubriqueGuideTechSecurite) }}
			{{ form_widget(form.rubriqueGuideTechSecurite) }}
		</div>
		<div class="form-inline">
			{{ form_errors(form.miseHorsTension) }}
			{# Label global du groupe de champs #}
			{{ form_label(form.miseHorsTension) }}
			{% for elementFormMHT in form.miseHorsTension %}
				{{ form_label(elementFormMHT) }}
				{{ form_widget(elementFormMHT) }}
			{% endfor %}
		</div>
		{{ form_row(form.mesureSecurite) }}
	</div>

	{# Partie sur les Dispositifs important pour la sécurité #}
	<div id="recommandations-securite" class="col-lg-12">
		<h4>
			Dispositifs important pour la sécurité
		</h4>
		<div class="form-inline">
			{# Label et erreur global du groupe de champs #}
			{{ form_errors(form.dispositifsSecurite) }}
			{{ form_label(form.dispositifsSecurite) }}
			{% for elementFormDS in form.dispositifsSecurite %}
				{{ form_label(elementFormDS) }}
				{{ form_widget(elementFormDS) }}
			{% endfor %}
		</div>
		{{ form_row(form.rubriqueGuideTechSecurite) }}
		{{ form_row(form.miseHorsTension) }}
		{{ form_row(form.mesureSecurite) }}
	</div>

	<div id="recommandations-securite" class="col-lg-12">
		<h4>
			Cas de dégradation d'un de nos ouvrages
		</h4>
		<div class="form-inline">
			{{ form_errors(form.telServiceDegradation) }}
			{{ form_label(form.telServiceDegradation) }}
			{{ form_widget(form.telServiceDegradation) }}
		</div>
		<div class="form-inline">
			<p>
				Pour toute anomalie susceptible de mettre en cause la sécurité au cours du déroulement du chantier, prévenir le service départemental d’incendie et de secours (par défaut le 
				18 ou le 112) :
			</p>
			{{ form_errors(form.serviceDepartementIncendieSecours) }}
			{{ form_label(form.serviceDepartementIncendieSecours) }}
			{{ form_widget(form.serviceDepartementIncendieSecours) }}
			{{ form_errors(form.telServiceDepartementIncendieSecours) }}
			{{ form_label(form.telServiceDepartementIncendieSecours) }}
			{{ form_widget(form.telServiceDepartementIncendieSecours) }}
		</div>
	</div>
	<div id="recommandations-securite" class="col-lg-12">
		<h4>
			Responsable du dossier
		</h4>
		<div class="form-inline">
			{# responsableDossier #}
			{{ form_errors(form.responsableDossier) }}
			{{ form_label(form.responsableDossier) }}
			{{ form_widget(form.responsableDossier) }}

			{# telResponsableDossier #}
			{{ form_errors(form.telResponsableDossier) }}
			{{ form_label(form.telResponsableDossier) }}
			{{ form_widget(form.telResponsableDossier) }}
		</div>
	</div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

<ul class="record_actions">
	<li>
		<a href="{{ path('recepissedict') }}">
			Back to the list
		</a>
	</li>
</ul>
{% endblock recepisse_content %}
{% endblock %}
