{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}
    <h1>ATUrgent creation</h1>
    
    {{ form_start(edit_form) }}
        
        {{ form_row(form.serviceExploitant) }}
        {{ form_row(edit_form.numeroTeleservice) }}
        {{ form_row(edit_form.dateDebutTravaux) }}
        {{ form_row(edit_form.canalReception) }}
        {{ form_row(edit_form.descriptionTravaux) }}
        {{ form_row(edit_form.noteComplementaire) }}
        {{ form_row(edit_form.dateReceptionDemande) }}
        {{ form_row(edit_form.dateReponseDemande) }}
        
        <a href="#" id="ajouter-adresse">Ajouter une nouvelle adresse à ce travaux</a>
        <ul id="adresse-fields-list" data-prototype="{{ form_widget(edit_form.adresses.vars.prototype) | e('html') }}">
            {% for adresseChamp in edit_form.adresses %}
                <li>
                       {{ form_row(adresseChamp.autocomplete) }}
                       {{ form_row(adresseChamp.numeroRue) }}
                       {{ form_row(adresseChamp.adresse) }}
                       {{ form_row(adresseChamp.complementAdresse) }}
                       {{ form_row(adresseChamp.lieuDit) }}
                       {{ form_row(adresseChamp.ville) }}
                       {{ form_row(adresseChamp.cp) }}   
                        {#Evènement qui ajoute un boutton delete uniquement les autre champs que le premier #}
                        {% if adresseChamp.delete is defined %}
                            {{ form_row(adresseChamp.delete) }}
                        {% endif %}
               </li>
            {% endfor %}
        </ul>
         <a href="#" id="ajouter-contact-urgent">Ajouter un contact urgent</a>
        <ul id="contact-urgent-fields-list" data-prototype="{{ form_widget(edit_form.contactsUrgent.vars.prototype) | e('html') }}">
            {% for contactUrgentChamp in edit_form.contactsUrgent %}
                <li>
                    {{ form_row(contactUrgentChamp.civilite) }}
                    {{ form_row(contactUrgentChamp.nom) }}
                    {{ form_row(contactUrgentChamp.prenom) }}
                    {{ form_row(contactUrgentChamp.telMobile) }}
                    {{ form_row(contactUrgentChamp.telFixe) }}
                    {{ form_row(contactUrgentChamp.email) }}
                    {{ form_row(contactUrgentChamp.delete)  }}
               </li>
            {% endfor %}
        </ul>
        {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
     <ul class="record_actions">
    <li>
        <a href="{{ path('aturgent') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
