{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}

    
    <div class="row">    

        <div class="col-lg-12 table-responsive">
            <hr/>
            <caption>
                <h1>ATUrgent list</h1>
            </caption>
            <table class="records_list table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numeroteleservice</th>
                <th>Datetravaux</th>
                <th>Descriptiontravaux</th>
                <th>Notecomplementaire</th>
                <th>Datereceptiondemande</th>
                <th>Datereponsedemande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('aturgent_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numeroTeleservice }}</td>
                <td>{% if entity.dateDebutTravaux %}{{ entity.dateDebutTravaux|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.descriptionTravaux }}</td>
                <td>{{ entity.noteComplementaire }}</td>
                <td>{% if entity.dateReceptionDemande %}{{ entity.dateReceptionDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateReponseDemande %}{{ entity.dateReponseDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('aturgent_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('aturgent_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
