{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

{% block main_content %}
    
    {% block bouton %}
        <div class="row">
          <div class="col-lg-offset-9">
              <a class="btn btn-md btn-info" href="{{ path('travaux') }}">
                  Retour au travaux <i class="fa fa-external-link-square"></i>
              </a>
          </div>
        </div>
    {% endblock bouton %}
    {% block travaux_content %}
    <h1>Création d'ATU</h1>
    
    {{ form_start(form) }}
        
        {{ form_row(form.serviceExploitant) }}

        {{ form_row(form.numeroTeleservice) }}
        {{ form_row(form.dateDebutTravaux) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.canalReception) }}
        {{ form_row(form.descriptionTravaux) }}
        {{ form_row(form.noteComplementaire) }}
        {{ form_row(form.dateReceptionDemande) }}
        {{ form_row(form.dateReponseDemande) }}
        
        <a class="btn btn-md btn-info" href="#" id="ajouter-adresse"><i class="fa fa-plus-circle"></i> Ajouter une nouvelle adresse à ce travaux</a>
        <ul class="border-double list-unstyled" id="adresse-fields-list" data-prototype="{{ form_widget(form.adresses.vars.prototype) | e('html') }}">
            {% for adresseChamp in form.adresses %}
                <li class="border-dark">
                       {{ form_row(adresseChamp.autocomplete) }}
                       {{ form_row(adresseChamp.numeroRue) }}
                       {{ form_row(adresseChamp.adresse) }}
                       {{ form_row(adresseChamp.complementAdresse) }}
                       {{ form_row(adresseChamp.lieuDit) }}
                       {{ form_row(adresseChamp.ville) }}
                       {{ form_row(adresseChamp.cp) }}   
                       {{ form_row(adresseChamp.pays) }}   
               </li>
            {% endfor %}
        </ul>
         <a class="btn btn-md btn-info" href="#" id="ajouter-contact-urgent"><i class="fa fa-plus-circle"></i> Ajouter un contact urgent</a>
        <ul class="border-double list-unstyled"  id="contact-urgent-fields-list" data-prototype="{{ form_widget(form.contactsUrgent.vars.prototype) | e('html') }}">
            {% for contactUrgentChamp in form.contactsUrgent %}
                <li class="border-dark">
                    {{ form_row(contactUrgentChamp.civilite) }}
                    {{ form_row(contactUrgentChamp.nom) }}
                    {{ form_row(contactUrgentChamp.prenom) }}
                    {{ form_row(contactUrgentChamp.telMobile) }}
                    {{ form_row(contactUrgentChamp.telFixe) }}
                    {{ form_row(contactUrgentChamp.email) }}
               </li>
            {% endfor %}
        </ul>
        {{ form_rest(form) }}
    {{ form_end(form) }}

    <ul class="list-unstyled list-inline erecord_actions">
      <li>
        <a class="btn btn-info" href="{{ path('aturgent') }}">
          <i class="fa fa-backward"></i>
            Révenir à la liste des ATU
        </a>
      </li>
    </ul>
{% endblock %}

{% endblock main_content %}
