<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Mimification, réécriture d'URL pour le DEV. Bien placer toute les fonts dans web/fonts de chaque plugin. L'ordre es important puisque l'on utilise bootstrap, puis on redéfinie
        ses police avec font-awesome#}
        {% stylesheets filter='css_url_rewrite,uglifycss'
                '@bootstrap_css' 
                '@flat_ui_css' 
                '@components_font_awesome_css'
                '@eonasdan_bootstrap_datetimepicker_css'
                '@MairieVoreppeDemandeTravauxBundle/Resources/public/css/style.css' 
        %}			
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('cones.ico') }}" />
        
        {# Nécessaire pour la compréhension de bootstrap pour IE #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {# Permet à ce que l'écran prenne tout le screenboard des mobile#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap_js est déjà inclue par eonasdan_bootstrap_datetimepicker_js (php app/console sp:bower:list) 

                 "@moment_js"
                 "@eonasdan_bootstrap_datetimepicker_js"

                 En conflit avec bootstrap_js-->
         {% block javascript  %}
              {% javascripts filter='uglifyjs'
                 "@jquery_js"
                 "@jquery_ui_js"
                 "@bootstrap_js"
                 '@MairieVoreppeDemandeTravauxBundle/Resources/public/js/ckeditor_content.js'
                 '@MairieVoreppeDemandeTravauxBundle/Resources/public/js/main.js'
                 '@MairieVoreppeDemandeTravauxBundle/Resources/public/js/recepisse.js'

              %} 
                  <script type="text/javascript" src="{{ asset_url }}"></script> 
              {% endjavascripts %}
        {% endblock javascript %}
            <!-- Le paramètre "sensor" indique si cette application utilise détecteur pour déterminer la position de l'utilisateur -->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    </head>
    <body>
        {% block body %}  
            {#Block qui englobe tout#}
            <div class="container-fluid">

                {% if app.session.get('service') == true %}
                    Vous travaillez pour le service {{ app.session.get('service') }}.
                {% endif %}
                <section id="menu">
                    {% block menu %}
                        {# Ici on va passer le 'path' de la route volontairement pour personnaliser le surlignage du menu #}
                        {{ render(controller("MairieVoreppeDemandeTravauxBundle:Menu:show", {'route': app.request.attributes.get('_route'), 'route_params' : app.request.attributes.get('_route_params') })) }}
                    {% endblock menu %}                      
                </section>
                
                <section id="corps">
                    {% block corps %}         
                    {% endblock corps %}                      
                </section>
            </div>
            <footer class="row">
                <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span class="label label-default">
                            <span class="fa fa-train"></span> Application ADTU
                        </span>
                </div>	
            </footer> 
            {#image de chargement caché#}
            <!-- <span class="image-loading-dt-dict">
                <img src="{{ asset('bundles/mairievoreppedemandetravaux/img/loading/adresseDtToDict.gif') }}"
            </span>   -->                  
        {% endblock body %}
    </body>
</html>
