{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOuvrage:layout.html.twig' %}

 {% block moa_content %}

<section class="table-responsive">
    <hr/>
    <caption>
    <h1>Liste MOA - personne physique</h1>
    </caption>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Raison sociale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('moapersonnephysique_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td>{{ entity.civil }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('moapersonnephysique_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('moapersonnephysique_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
    {% endblock %}
