{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}
    
<div class="row">    
    
    <div class="col-lg-6 table-responsive">
        <hr/>
        <caption>
            <h4>        
                DemandeTravaux
             <br>
         </h4>
        </caption>
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Numeroteleservice</th>
                    <td>{{ entity.numeroTeleservice }}</td>
                </tr>
                <tr>
                    <th>Récépissé</th>
                    <td>
                         <div class="col-lg-4">
                            {% if entity.recepisseDt != null %}
                                <a target="_blank" href="{{ path('recepissedt_show', {'id': entity.recepissedt.id}) }}" class="btn btn-default">
                                   <i class="fa fa-eye"></i> Voir le récépissé
                                </a>
                            {% endif %} 

                        </div>
                         <div class="col-lg-3">
                         {% if entity.recepisseDt == null %}
                              <a href="{{ path('recepissedt_new', {'id_dt': entity.id}) }}" class="btn btn-default">
                                  Créer un récépissé
                              </a>
                          {% else %}
                              <a href="{{ path('recepissedt_edit', {'id': entity.recepisseDt.id}) }}" class="btn btn-success">
                                  Editer  le récépissé
                              </a>
                          {% endif %}  
                    </td>
                </tr>
                <tr>
                    <th>Gestionnaire du chantier</th>
                    <td>{{ entity.user }}</td>
                </tr>
                <tr>
                    <th>Service gestionnaire du chantier</th>
                    <td>{{ entity.serviceExploitant.service.name }}</td>
                </tr>
                <tr>
                    <th>Datetravaux</th>
                    <td>{{ entity.dateDebutTravaux|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Descriptiontravaux</th>
                    <td>{{ entity.descriptionTravaux }}</td>
                </tr>
                <tr>
                    <th>Notecomplementaire</th>
                    <td>{{ entity.noteComplementaire }}</td>
                </tr>
                <tr>
                    <th>Datereceptiondemande</th>
                    <td>{{ entity.dateReceptionDemande|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Datereponsedemande</th>
                    <td>{{ entity.dateReponseDemande|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
                
        <div class="col-lg-6 table-responsive">
            <caption>
                <h4>        
                    DICTs liées
                 <br>
             </h4>
            </caption>
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                    <td>
                        Numero téléservice
                    </td>
                    <td>
                        Dict lié
                    </td>
                    <td>
                        Dict conjointe
                    </td>
                </thead>
                <tbody>
                   {# On coche selon la relation avec la DICT #}
                    {% for dict in entity.dicts %}
                        <tr>                      
                            {% if dict.dtDictConjointe == true %}
                                <td>
                                    <a target="_blank" href="{{ path('dtdict_show', {'id': dict.id})}}">
                                        {{ dict.numeroTeleservice }}
                                    </a>
                                </td>  
                                <td></td>                 
                                <td class="text-center"><i class="fa fa-crosshairs"></i></td>        
                            {% else %}
                                <td>
                                    <a target="_blank" href="{{ path('demandeintentionct_show', {'id': dict.id})}}">
                                        {{ dict.numeroTeleservice }}
                                    </a>
                                </td> 
                                <td class="text-center"><i class="fa fa-crosshairs"></i></td>    
                                <td></td>                        
                            {% endif %}
                        </tr>
                    {% else %}
                        Pas de DICT !
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('demandetravaux') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('demandetravaux_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
