{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:Travaux:layout.html.twig' %}

 {% block travaux_content %}
    <div class="row">    

        <div class="col-lg-12 table-responsive">
            <hr/>
            <caption>
                <h4>        
                    DemandeIntentionCT
                 <br>
             </h4>
            </caption>
            <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Numeroteleservice</th>
                    <td>{{ entity.numeroTeleservice }}</td>
                </tr>
                <tr>
                    <th>Récépissé</th>
                    <td>
                         <div class="col-lg-4">
                            {% if entity.recepisseDict != null %}
                                <a target="_blank" href="{{ path('recepissedict_show', {'id': entity.recepissedict.id}) }}" class="btn btn-default">
                                   <i class="fa fa-eye"></i> Voir le récépissé
                                </a>
                            {% endif %} 

                        </div>
                         <div class="col-lg-3">
                            {% if entity.recepisseDict == null %}
                                <a href="{{ path('recepissedict_new', {'id_dict': entity.id}) }}" class="btn btn-default">
                                    Créer un récépissé
                                </a>
                            {% else %}
                                <a href="{{ path('recepissedict_edit', {'id': entity.recepisseDict.id}) }}" class="btn btn-success">
                                    Editer  le récépissé
                                </a>
                            {% endif %} 
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Datetravaux</th>
                    <td>{{ entity.dateDebutTravaux|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Descriptiontravaux</th>
                    <td>{{ entity.descriptionTravaux }}</td>
                </tr>
                <tr>
                    <th>Notecomplementaire</th>
                    <td>{{ entity.noteComplementaire }}</td>
                </tr>
                <tr>
                    <th>Datereceptiondemande</th>
                    <td>{{ entity.dateReceptionDemande|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Datereponsedemande</th>
                    <td>{{ entity.dateReponseDemande|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>

    <div class="row">    
        <div class="col-lg-8 table-responsive">
            <caption>
                 <h1>Liste des arrêtés promulgués</h1>
            </caption>
            <hr/>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
                <div class="col-lg-3">
                    <a href="{{ path('arretepromulgue_new', {'id_dict': entity.id}) }}" class="btn btn-default">
                        Générer un arrêté
                    </a>
                </div> 
            </div> 
            <table class="records_list table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Modèle</th>
                        <th>Date création</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody> 
                {% for unArretePromulgue in entity.arretesPromulgues %}   
                    <tr>
                        <td><a href="{{ path('arretepromulgue_show', { 'id': entity.id }) }}">{{ unArretePromulgue.id }}</a></td>
                        <td><a href="{{ path('arretemodel_show', { 'id': unArretePromulgue.arreteModel.id  }) }}">{{ unArretePromulgue.arreteModel.id }}</a></td>
                        <td>{% if unArretePromulgue.dateCreation %}{{ unArretePromulgue.dateCreation|localizeddate('medium', 'none', "fr") }}{% endif %}</td>
                        <td>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a class="btn btn-info" href="{{ path('arretepromulgue_show', { 'id': unArretePromulgue.id }) }}">Voir <i class="fa fa-eye"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-success" href="{{ path('arretepromulgue_edit', { 'id': unArretePromulgue.id }) }}">Modifier <i class="fa fa-pencil"></i></a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% else %}
                    Aucun arrêté
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul class="list-unstyled list-inline record_actions">
        <li>
            <a class="btn btn-info" href="{{ path('demandeintentionct') }}">
            Revenir à la liste des DICTs
        </a>
    </li>
    <li>
        <a class="btn btn-success" href="{{ path('demandeintentionct_edit', { 'id': entity.id }) }}">
            Editer la DICT
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
