{#On hérite de notre block parent, ce qui permet de placer le contenu du FOSUserBundle dans un block qui lui même hérite du block body
ce qui nous permet de profiter de l'ensemble des CSS et JS mis à disposition #}

{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{# Ne voulabnt rien vopir du menu principal, je met dans l'ensemble du body ma connexion#}
{% block body %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-lg-offset-5 col-lg-3">
            <p class="text-center">
                ADMINISTRATION
            </p>
            <form class="well" action="{{ path("admin_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text"  class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username_admin'|trans }}" />

                <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password"  class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password_admin'|trans }}"/>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <button class="btn btn-block btn-lg btn-danger" type="submit" id="_submit" name="_submit">{{ 'security.login.submit_admin'|trans }} </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-5 col-lg-3 text-center">
            <a class="btn btn-sm btn-lg btn-info" href="{{ path('mairie_voreppe_demande_travaux_homepage')}}">Revenir sur l'accueil</a>
        </div>
    </div>
{% endblock body %}