{#On hérite de notre block parent, ce qui permet de placer le contenu du FOSUserBundle dans un block qui lui même hérite du block body
ce qui nous permet de profiter de l'ensemble des CSS et JS mis à disposition #}

{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <div class="row">
        <div class="col-lg-offset-5 col-lg-3">
            <p class="text-center">
                Connexion à l'application Demande Travaux
            </p>
            <form class="well" action="{{ path("fos_user_security_check") }}" method="post">
                
                {# Le service choisi sera retenue en session #}               
                
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text"  class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password"  class="form-control" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <button class="btn btn-block btn-lg btn-info" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }} </button>
            </form>
        </div>
    </div>
{% endblock body %}