{# src/MairieVoreppe/DemandeTravauxBundle/Resources/views/ArreteModel/index.html.twig #}
{% extends "::base.html.twig" %}
{% block corps %}
    <h1>Edition d'un modèle d'arrêté</h1> 
    
{# {{ dump(reflectionClass) }} #}
{#####
   Version 1  du publipostage: récupération des inforation par introspection des classes
#####}
<section id="ckeditor_arrete_model">
     <div class="row">
            <div class="ckeditor col-lg-12">
            Informations sur les travaux : 
             <select>
                  {% for propertyDict in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\DemandeIntentionCT'].properties %}
                        {% if propertyDict.name == 'dateDebut' %}
                          <option>
                            {{  "{{ %s.%s }}"|format(edit_form.dict.vars.name, propertyDict.name) }}
                          </option>
                        {% else %}
                          {# on retire les arrays collection, aisni que le debutDateTravaux qui est un DAteTime (les filtre bug sous ckeditor car les guillement de ('Y-m-d') sont encrypter) #}
                          {% if propertyDict.name != 'dateDebutTravaux' and propertyDict.name|last != 's' and propertyDict.name != 'entreprise' and propertyDict.name != 'user' and propertyDict.name != 'serviceExploitant' %}
                              <option>
                                  {{  "{{ %s.%s }}"|format(edit_form.dict.vars.name, propertyDict.name) }}
                              </option>
                          {% endif %}
                        {% endif %}
                  {% endfor %}
              </select>
              
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-12">
            Information sur l'exploitant: 
             <select>
                  {% for propertyExploitant in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Exploitant'].properties %}
                        {# on retire les arrays collection#}
                        {% if propertyExploitant.name == "adresse" %}
                          {% for propertyAdresse in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Adresse'].properties %}
                               <option>
                              {{  "{{ %s.serviceExploitant.exploitant.adresse.%s }}"|format(edit_form.dict.vars.name, propertyAdresse.name) }}
                          </option>
                          {% endfor %}
                         {% else %}
                            {% if propertyExploitant.name == 'responsableExploitantEnCours' %}
                               {% for propertyResponsableExploitant in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\ResponsableExploitant'].properties %}
                                 <option>
                                    {{ "{{ %s.serviceExploitant.exploitant.responsableExploitantEnCours.%s }}"|format(edit_form.dict.vars.name, propertyMaire.name) }}
                                 </option>
                               {% endfor %}
                            {% endif %}
                            {% if propertyExploitant.name|last != 's' %}
                              <option>
                                  {{  "{{ %s.serviceExploitant.exploitant.%s }}"|format(edit_form.dict.vars.name, propertyExploitant.name) }}
                              </option>
                            {% endif %}
                        {% endif %}
                  {% endfor %}
              </select>
              
            </div>
        </div>
        
              
        <div class="row">
            <div class=" col-lg-12">
            Information sur le service : 
           <select>
                  {% for propertyService in reflectionClass['Application\\Sonata\\UserBundle\\Entity\\Service'].properties %}
                    {# on retire les arrays collection#}
                    {% if propertyService.name|last != 's' and propertyService.name|last != 'x' and propertyService.name != 'mairie' %}
                      <option>
                          {{  "{{ %s.serviceExploitant.service.%s }}"|format(edit_form.dict.vars.name, propertyService.name) }}
                      </option>
                    {% endif %}
                  {% endfor %}
              </select>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-12">
              Information sur l'entreprise qui réalisera les travaux, présent sur la partie DICT:
             <select>
                    {% for propertyEntreprise in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Entreprise'].properties %}
                        {# on retire les arrays collection et on dispatch les attribut de l'adresse#}
                         {% if propertyEntreprise.name == "adresse" %}
                            {% for propertyAdresse in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Adresse'].properties %}
                                {% if propertyAdresse.name|last != 's' and propertyAdresse.name|last != 'x' and propertyAdresse.name != 'personne' %}
                                    <option>
                                        {{  "{{ %s.entreprise.adresse.%s }}"|format(edit_form.dict.vars.name, propertyAdresse.name) }}
                                    </option>
                                {% endif %}  
                            {% endfor %}                       
                        {% else %} 
                            {% if propertyEntreprise.name == "gerant" %}
                                {% for propertyGerant in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Gerant'].properties %}
                                    {% if propertyGerant.name|last != 's' and propertyGerant.name|last != 'x' and propertyGerant.name != 'personne' %}
                                        <option>
                                            {{  "{{ %s.entreprise.gerant.%s }}"|format(edit_form.dict.vars.name, propertyGerant.name) }}
                                        </option>
                                    {% endif %}  
                                {% endfor %}           
                            {% endif %}   
                        {% endif %}
                     {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              
                <h4>
                    Information sur la DT lié à la DICT
                </h4>
                <div class="alert alert-warning">
                    <strong>Déclarant</strong> Les informations sur les déclarants en tant que personne civil sont différentes
                    de celle des informations en tant que personne morale.
                </div>
          </div>  
        </div>
        <div class="row">
            <div class=" col-lg-12">
                Informations sur les déclarants (maître d'oeuvre et maître d'ouvrage) en tant que personne physique : 
               <select> 
                      {% for propertyCivil in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Civil'].properties %}
                          {# on retire les arrays collection#}
                          {% if propertyCivil.name|last != 's' and propertyCivil.name|last != 'x' and propertyCivil.name != 'mairie' %}
                            <option>
                                {{  "{{ %s.dt.declarant.civil.%s }}"|format(edit_form.dict.vars.name, propertyCivil.name) }}
                            </option>
                          {% endif %}
                      {% endfor %}       
                  </select>
            </div>
        </div>       
        <div class="row">
            <div class=" col-lg-12">
                Information sur le déclarants (maître d'oeuvre et maître d'ouvrage)  lié à la DT  en tant que personne morale : 
                <select>                      
                      {% for propertyPersonneMorale in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Model\\PersonneMorale'].properties %}
                          {# on retire les arrays collection#}
                            {% if propertyPersonneMorale.name == "adresse" %}
                              {% for propertyAdresse in reflectionClass['MairieVoreppe\\DemandeTravauxBundle\\Entity\\Adresse'].properties %}
                                  {% if propertyAdresse.name|last != 's' and propertyAdresse.name|last != 'x' and propertyAdresse.name != 'personne' %}
                                      <option>
                                          {{ "{{ %s.dt.declarant.personneMorale.adresse.%s }}"|format(edit_form.dict.vars.name, propertyAdresse.name) }}
                                      </option>
                                  {% endif %}  
                              {% endfor %} 
                           {% else %}
                               {% if propertyPersonneMorale.name|last != 's' and propertyPersonneMorale.name|last != 'x' and propertyPersonneMorale.name != 'mairie' %}
                                  <option>
                                      {{  "{{ %s.dt.declarant.personneMorale.%s }}"|format(edit_form.dict.vars.name, propertyPersonneMorale.name) }}
                                  </option>
                               {% endif %}
                          {% endif %}
                      {% endfor %}        
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                {{ form_start(edit_form) }}
                {{ form_row(edit_form.titre) }}
                {{ form_row(edit_form.contenu) }}
            </div>
        </div>
                {{ form_rest(edit_form) }}
            {{form_end(edit_form)}}
</section> 
    
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('arretemodel') }}">
                    Revenir à la liste des modèle d'arrêtés
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
      </ul>
{% endblock %}
